/* Setze sicher, dass html und body die volle Breite und Höhe einnehmen */
html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Entfernt Standardabstände */
    padding: 0; /* Entfernt Standardabstände */
}

.page {
    width: 100%; /* Stellt sicher, dass die gesamte Seite die volle Breite nutzt */
    min-height: 100vh; /* Sorgt dafür, dass die Seite mindestens die Höhe des Viewports hat */
    display: flex;
    flex-direction: column;
}
